.table-page {
    width: 100%;
    padding: 7% 10% 0 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
    position: relative;

    display: flex;
    flex-direction: column;
}

h2{
    font-family: Helvetica;
    font-size: 25px;
    color: #000000;
    letter-spacing: 0;
    margin: 0 2% 0 2%;
}

hr{
    border: 1px solid #DEDFE2;
    width: 80%;
}

.title {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    align-items: center;
}

@media (max-width: 700px){
    .table-page{
        padding: 3% 1% 0 1%;
    }
}
